@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box; }

::before,
::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: var(--body-font); }
  @media screen and (max-width: 1279.98px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 30%; } }

body {
  padding: 0;
  margin: 0;
  line-height: 1.5rem; }

.container {
  min-width: 100%;
  padding: 3.2rem 13.5rem; }
  @media screen and (max-width: 1279.98px) {
    .container {
      padding: 3.2rem 5rem; } }
  @media screen and (max-width: 1023.98px) {
    .container {
      padding: 3.2rem 1rem; } }
  .container-1 {
    background-color: var(--body-color); }
  .container-2 {
    background-color: var(--white-color); }
  .container-3 {
    background-color: var(--third-color); }
  .container-4 {
    background-color: var(--yellow-color); }
  .container-5 {
    background-color: var(--primary-color); }

.heading-1 {
  font-family: var(--body-font);
  font-size: 6.6rem;
  color: var(--primary-color);
  font-weight: 700; }

.heading-2 {
  font-family: var(--body-font);
  font-size: 2.8rem;
  color: var(--primary-color);
  font-weight: 600; }

.heading-2-bold {
  font-family: var(--body-font);
  font-size: 3.8rem;
  color: var(--primary-color);
  font-weight: 700; }

.heading-2-white {
  font-family: var(--body-font);
  font-size: 3.8rem;
  color: var(--white-color);
  font-weight: 700; }

.heading-3 {
  font-family: var(--body-font);
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700; }

.heading-3-white {
  font-family: var(--body-font);
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 600;
  line-height: 3rem; }

.heading-4 {
  font-family: var(--body-font);
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400; }

.heading-span {
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: var(--secondary-color);
  font-weight: 400; }

.heading-span-white {
  font-family: var(--body-font);
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 400;
  line-height: 1.6; }

.heading-para {
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: black;
  font-weight: 400; }

.heading-para-white {
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 400; }

:root {
  --body-color: #FFDFA9;
  --primary-color: #1E1102;
  --secondary-color: #58524A;
  --third-color: #cacaca;
  --text-color: #c4c4c4;
  --blue-color: #196dc7;
  --bold-blue-color: #00438B;
  --yellow-color: #FF8D07;
  --white-color: #fff;
  --body-font: 'Inter', sans-serif; }

.header {
  margin-bottom: 10rem; }
  .header__menu {
    display: flex;
    margin-bottom: 10rem;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem; }
    @media screen and (max-width: 767.98px) {
      .header__menu {
        display: block; } }
    .header__menu--list {
      display: flex;
      list-style: none;
      justify-content: space-between;
      width: 38rem;
      animation: moveInTop 2s ease-in-out; }
      @media screen and (max-width: 767.98px) {
        .header__menu--list {
          display: none; } }
    .header__menu--title {
      text-align: center;
      animation: moveinleft 2s cubic-bezier(0.45, 1.64, 0.47, 0.66); }
    .header__menu--item {
      font-size: 1.6rem;
      color: var(--primary-color);
      text-decoration: none;
      transition: all .2s; }
      .header__menu--item:hover {
        color: var(--yellow-color); }
    .header__menu--button {
      animation: moveInRight 2s cubic-bezier(0.45, 1.64, 0.47, 0.66); }
      @media screen and (max-width: 767.98px) {
        .header__menu--button {
          display: none; } }
  .header__content {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem; }
    @media screen and (max-width: 800px) {
      .header__content {
        flex-direction: column;
        align-items: center; } }
    .header__content--text {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 35rem;
      width: 55rem; }
      @media screen and (max-width: 800px) {
        .header__content--text {
          align-items: center; } }
      .header__content--text-1 {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 5rem;
        animation: moveInBottom 2s ease-in; }
        @media screen and (max-width: 800px) {
          .header__content--text-1 {
            text-align: center; } }
      .header__content--text-2 {
        margin-bottom: 5rem; }
      .header__content--text-img {
        position: absolute;
        bottom: -5rem;
        right: -5rem; }
        @media screen and (max-width: 1279.98px) {
          .header__content--text-img {
            right: -20rem; } }
        @media screen and (max-width: 1023.98px) {
          .header__content--text-img {
            display: none; } }
    .header__content--card {
      animation: moveInRight 2s ease-out; }
      .header__content--card--item {
        background-color: var(--white-color);
        width: 42rem;
        min-height: 55rem;
        border-radius: 6px; }
      .header__content--card--img {
        position: relative; }
      .header__content--card--jpg {
        object-fit: cover;
        width: 100%;
        max-width: 42rem; }
      .header__content--card--icon--1 {
        position: absolute;
        color: var(--white-color);
        z-index: 10;
        top: 3rem;
        left: 3rem;
        font-size: 2.5rem; }
      .header__content--card--icon--2 {
        position: absolute;
        color: var(--white-color);
        z-index: 10;
        top: 3rem;
        right: 3rem;
        font-size: 2rem; }
      .header__content--card--text {
        display: flex;
        flex-direction: column;
        padding: 5rem 3rem;
        justify-content: center;
        align-items: center; }
      .header__content--card--title {
        margin-bottom: 1rem; }
      .header__content--card--price {
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem; }
      .header__content--card--info {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem; }
  .header__hr {
    position: relative;
    height: 45rem; }
    .header__hr--img {
      position: absolute;
      bottom: -4px;
      left: 0;
      z-index: 10; }
      @media screen and (max-width: 1023.98px) {
        .header__hr--img {
          display: none; } }
    .header__hr--content {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      background-color: var(--bold-blue-color);
      height: 24rem;
      justify-content: space-between;
      width: 100%; }
    .header__hr--yellow {
      height: 24rem;
      width: 37rem;
      background-color: var(--yellow-color); }
      @media screen and (max-width: 1023.98px) {
        .header__hr--yellow {
          display: none; } }
    .header__hr--jd {
      padding: 4rem 6rem;
      display: flex;
      flex-direction: column;
      margin-left: 10rem;
      margin-top: 2rem;
      position: relative; }
      @media screen and (max-width: 767.98px) {
        .header__hr--jd {
          padding: 4rem 0;
          margin-left: 5rem; } }
      .header__hr--jd::before {
        content: "";
        position: absolute;
        z-index: 100;
        right: 0;
        bottom: 30%;
        height: 10rem;
        width: 1px;
        background-color: var(--third-color); }
        @media screen and (max-width: 767.98px) {
          .header__hr--jd::before {
            right: -3rem; } }
      .header__hr--jd--text {
        margin-bottom: 3rem; }
    .header__hr--emp {
      padding: 6rem 7rem; }
      @media screen and (max-width: 767.98px) {
        .header__hr--emp {
          padding: 6rem 4rem; } }
      .header__hr--emp-jpg {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: var(--body-color);
        object-fit: cover;
        border: solid var(--white-color) 2px;
        margin-bottom: 3rem;
        transition: all .2s ease-in-out;
        cursor: pointer; }
        .header__hr--emp-jpg:not(:last-child) {
          margin-right: -2rem; }
        .header__hr--emp-jpg:hover {
          transform: scale(1.05);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.btn__blue {
  background-color: var(--bold-blue-color);
  transition: all .2s;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: var(--white-color); }
  .btn__blue:hover {
    background-color: var(--blue-color); }
  .btn__blue:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn__yellow {
  background-color: var(--yellow-color);
  font-size: 1.6rem;
  border-radius: 5px;
  transition: all .2s;
  color: var(--white-color);
  padding: 1rem 3rem;
  transition: all .2s;
  box-shadow: 0.5rem 0.8rem rgba(0, 0, 0, 0.8); }
  .btn__yellow:hover {
    transform: translateY(-3px);
    box-shadow: none;
    background-color: #fa9f15; }

.button__blue {
  font-size: 1.6rem;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  color: var(--white-color);
  border-radius: 5px;
  gap: 1rem; }

.button__white {
  background-color: var(--white-color);
  font-size: 1.6rem;
  border-radius: 5px;
  transition: all .2s;
  color: var(--yellow-color);
  padding: 1rem 3rem;
  transition: all .2s; }
  .button__white:hover {
    background-color: var(--yellow-color);
    color: var(--white-color); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.category {
  display: flex;
  margin-bottom: 10rem;
  align-items: center; }
  @media screen and (max-width: 1023.98px) {
    .category {
      margin-top: 15rem; } }
  @media screen and (max-width: 869.98px) {
    .category {
      flex-direction: column; } }
  @media screen and (max-width: 586px) {
    .category {
      margin-top: 0; } }
  .category__left {
    position: relative; }
    @media screen and (max-width: 869.98px) {
      .category__left {
        margin-left: -5rem; } }
    @media screen and (max-width: 767.98px) {
      .category__left {
        margin-left: -20rem; } }
    @media screen and (max-width: 586px) {
      .category__left {
        margin-left: 0; } }
    .category__left--block {
      width: 47rem;
      height: 38rem;
      background-color: var(--yellow-color);
      border-radius: 10px;
      margin-top: 15rem; }
    .category__left--chef {
      position: absolute;
      bottom: -1rem;
      left: 2rem; }
      @media screen and (max-width: 600px) {
        .category__left--chef {
          display: none; } }
    .category__left--customer {
      padding: 2.3rem 3.5rem;
      background-color: var(--white-color);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 24rem;
      position: absolute;
      bottom: 21rem;
      left: 28rem;
      height: 16rem;
      box-shadow: 0.2rem 0.4rem rgba(0, 0, 0, 0.1); }
      .category__left--customer-jpg {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: var(--body-color);
        object-fit: cover;
        border: solid var(--white-color) 2px;
        margin-bottom: 2rem; }
        .category__left--customer-jpg:not(:last-child) {
          margin-right: -2rem; }
      .category__left--customer-text {
        margin-bottom: 2rem; }
      .category__left--customer-review {
        display: flex;
        gap: 1rem; }
      .category__left--customer-icon {
        font-size: 1.4rem;
        color: var(--yellow-color); }
      @media screen and (max-width: 600px) {
        .category__left--customer {
          top: 50%;
          left: 50%;
          transform: translate(-50%); } }
  .category__right {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-top: 2rem; }
    @media screen and (max-width: 1279.98px) {
      .category__right {
        margin-left: auto; } }
    @media screen and (max-width: 869.98px) {
      .category__right {
        margin-left: 0;
        margin-top: 5rem; } }
    .category__right--title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 3rem; }
    .category__right--text {
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .category__right--food {
      display: flex; }
      .category__right--food-item:not(:last-child) {
        margin-right: 2rem; }
      .category__right--food-item-img {
        margin-bottom: 2rem;
        border-radius: 10px;
        overflow: hidden;
        width: 17rem;
        transition: all .2s; }
        .category__right--food-item-img:hover {
          transform: translateY(-3px);
          box-shadow: 0.5rem 0.8rem rgba(0, 0, 0, 0.8); }

.menu {
  display: flex;
  min-height: 73rem;
  flex-direction: column;
  margin-bottom: 5rem; }
  .menu__title {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media screen and (max-width: 767.98px) {
      .menu__title {
        text-align: center;
        margin-bottom: 5rem; } }
    .menu__title--main {
      display: flex;
      flex-direction: column;
      gap: 2.5rem; }
    .menu__title--sub {
      display: flex;
      flex-direction: column;
      gap: .5rem; }
    @media screen and (max-width: 800px) {
      .menu__title {
        text-align: center;
        margin-bottom: 5rem; } }
  .menu__item {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767.98px) {
      .menu__item {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 5rem; } }
    .menu__item--menu {
      display: flex;
      margin-top: 10rem;
      flex-direction: column;
      position: relative;
      padding: 5rem; }
      @media screen and (max-width: 800px) {
        .menu__item--menu {
          padding: 0; } }
      @media screen and (max-width: 767.98px) {
        .menu__item--menu {
          display: none; } }
      .menu__item--menu::before {
        position: absolute;
        right: 0;
        top: 3.5rem;
        content: "";
        height: 65%;
        width: 2px;
        background-color: var(--text-color);
        z-index: 10; }
        @media screen and (max-width: 800px) {
          .menu__item--menu::before {
            top: 0; } }
      .menu__item--menu--list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 4rem; }
      .menu__item--menu--item {
        position: relative; }
        .menu__item--menu--item::before {
          position: absolute;
          content: "";
          top: -1.5rem;
          right: -5rem;
          height: 200%;
          width: 2px;
          background-color: var(--yellow-color);
          transform: scaleY(0);
          transition: transform .2s;
          z-index: 20; }
      .menu__item--menu--item:hover::before {
        transform: scaleY(1); }
      .menu__item--menu--link {
        font-size: 1.6rem;
        color: black;
        font-weight: 600;
        border-radius: 10px;
        transition: all .2s;
        padding: 1rem 2rem; }
        .menu__item--menu--link:hover {
          color: var(--white-color);
          background-color: var(--yellow-color); }
    .menu__item--img-1 {
      background-image: url(../img/2.png);
      width: 37rem;
      height: 50rem;
      justify-content: space-between;
      display: flex;
      padding: 2rem;
      border-radius: 10px;
      align-items: flex-end; }
    .menu__item--img-2 {
      background-image: url(../img/3.png);
      width: 37rem;
      height: 50rem;
      border-radius: 10px;
      justify-content: space-between;
      display: flex;
      padding: 2rem;
      align-items: flex-end; }
    .menu__item--img--icon {
      font-size: 1.6rem;
      color: yellow;
      list-style: none; }
    .menu__item--img--button {
      margin-bottom: 1rem; }

.feature {
  margin-bottom: 10rem;
  background-image: url(../img/food.png);
  min-height: 51rem;
  border-radius: 40px;
  display: flex;
  padding: 11rem 27rem;
  flex-direction: column;
  gap: 3rem;
  align-items: center; }
  @media screen and (max-width: 1023.98px) {
    .feature {
      padding: 15rem 10rem; } }
  .feature__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .feature__text {
    display: flex;
    flex-direction: column;
    align-items: center; }

.review {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1023.98px) {
    .review {
      padding: 0 5rem; } }
  @media screen and (max-width: 800px) {
    .review {
      padding: 0; } }
  @media screen and (max-width: 767.98px) {
    .review {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .review__comment {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    gap: 3rem; }
    @media screen and (max-width: 767.98px) {
      .review__comment {
        padding-bottom: 0;
        margin-right: 0;
        padding-top: 5rem;
        align-items: center; } }
    .review__comment--customer {
      display: flex;
      gap: 2rem;
      align-items: center; }
      .review__comment--customer--img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: var(--body-color);
        object-fit: cover;
        border: solid var(--white-color) 2px; }
      .review__comment--customer--info {
        display: flex;
        flex-direction: column;
        gap: 1rem; }
  .review__client {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media screen and (max-width: 767.98px) {
      .review__client {
        padding-top: 5rem;
        align-items: center;
        padding-bottom: 5rem; } }
    .review__client--title {
      display: flex;
      flex-direction: column;
      gap: 2rem; }

.newsletter {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  @media screen and (max-width: 1023.98px) {
    .newsletter {
      padding: 5rem; } }
  @media screen and (max-width: 800px) {
    .newsletter {
      padding: 0; } }
  @media screen and (max-width: 767.98px) {
    .newsletter {
      flex-direction: column;
      align-items: center; } }
  .newsletter__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.5rem; }
    .newsletter__left--field {
      width: 38.5rem;
      height: 5rem;
      position: relative; }
    .newsletter__left--input {
      width: 100%;
      border-radius: 10px;
      position: absolute;
      height: 5rem;
      border: solid 1px var(--white-color);
      padding: 2rem 0 0 1.6rem;
      font-size: 0;
      background-color: var(--yellow-color);
      transition: background-color .3s ease; }
      .newsletter__left--input:focus {
        background-color: #fca13a;
        font-size: 2rem; }
      .newsletter__left--input:focus::selection {
        background-color: rgba(252, 161, 58, 0.7); }
      .newsletter__left--input.active {
        background-color: #fca13a;
        font-size: 2rem; }
    .newsletter__left--button {
      position: absolute;
      bottom: -1rem;
      height: 5rem;
      background-color: black;
      right: -18rem;
      border: 0;
      width: 11rem;
      border-radius: 10px;
      font-size: 2rem;
      cursor: pointer;
      transition: width .3s ease, background-color .3s ease, opacity .3s ease;
      color: var(--white-color);
      pointer-events: none; }
    .newsletter__left--button .active {
      color: var(--white-color);
      background-color: #fca13a;
      opacity: 1;
      pointer-events: auto; }
      .newsletter__left--button .active:hover {
        background-color: #fca13a; }
    .newsletter__left--button .full {
      width: 100%; }
    .newsletter__left--input:focus + .newsletter__left--label {
      font-size: 1.6rem;
      transform: translate(1.4rem, 1rem);
      color: rgba(255, 255, 255, 0.7); }
    .newsletter__left--label {
      position: absolute;
      color: white;
      transform: translate(16px, 20px);
      transition: transform .3s ease, font-size .3s ease, color .3s .1s ease;
      font-size: 2rem;
      bottom: 3rem; }
      @media screen and (max-width: 1023.98px) {
        .newsletter__left--label {
          bottom: 3.5rem; } }
      @media screen and (max-width: 600px) {
        .newsletter__left--label {
          bottom: 5rem; } }
    .newsletter__left--label:active {
      font-size: 1.6rem;
      transform: translate(16px, 11px);
      color: rgba(255, 255, 255, 0.7); }
  .newsletter__right {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media screen and (max-width: 767.98px) {
      .newsletter__right {
        margin-top: 3rem; } }
    .newsletter__right--icon {
      display: flex; }
      @media screen and (max-width: 767.98px) {
        .newsletter__right--icon {
          margin-left: -2rem; } }
      .newsletter__right--icon-item {
        font-size: 2rem;
        color: var(--white-color);
        padding: 1rem;
        border: solid 1px white;
        cursor: pointer;
        transition: all .2s; }
        .newsletter__right--icon-item:hover {
          transform: translateY(-3px);
          box-shadow: 0.5rem 0.8rem rgba(0, 0, 0, 0.8); }

.newsletter__left--input:focus + .newsletter__left--label + .newsletter__left--button {
  opacity: 1; }

.footer {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 1023.98px) {
    .footer {
      padding: 5rem; } }
  @media screen and (max-width: 800px) {
    .footer {
      padding: 5rem 0; } }
  .footer__up {
    display: flex;
    margin-bottom: 5rem;
    position: relative; }
    .footer__up::before {
      position: absolute;
      content: "";
      bottom: -5rem;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: var(--third-color); }
    @media screen and (max-width: 767.98px) {
      .footer__up {
        flex-direction: column;
        align-items: center; } }
  .footer__down {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__left {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media screen and (max-width: 767.98px) {
      .footer__left {
        align-items: center;
        margin-bottom: 5rem; } }
    .footer__left--list {
      display: flex;
      list-style: none;
      gap: 2rem; }
    .footer__left--link {
      color: var(--third-color);
      transition: all .2s;
      font-size: 1.2rem; }
      .footer__left--link:hover {
        color: var(--white-color); }
  .footer__right {
    display: flex;
    margin-left: auto;
    gap: 10rem; }
    @media screen and (max-width: 1023.98px) {
      .footer__right {
        gap: 5rem; } }
    @media screen and (max-width: 767.98px) {
      .footer__right {
        margin-left: 0; } }
    .footer__right--list {
      display: flex;
      flex-direction: column;
      gap: 4rem; }
      .footer__right--list-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 2rem; }
      .footer__right--list-link {
        color: var(--third-color);
        transition: all .2s;
        font-size: 1.2rem; }
        .footer__right--list-link:hover {
          color: var(--white-color); }

.navigation {
  display: none; }
  @media screen and (max-width: 767.98px) {
    .navigation {
      display: block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: var(--white-color);
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    left: 4%;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    z-index: 2000; }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    left: 130%;
    background-image: radial-gradient(var(--body-color), var(--white-color));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--white-color) 50%);
    background-size: 220%;
    transition: all .4s;
    font-family: var(--body-font); }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: var(--body-color);
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(90); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2rem;
      height: 2px;
      background-color: black;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .popup__content {
    width: 50%;
    height: 48rem;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%), url(../img/burger.jpg);
    background-size: contain;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 10rem;
    gap: 5rem; }
    .popup__content--btn {
      display: flex;
      gap: 2rem; }
    .popup__content--close {
      position: absolute;
      top: 5rem;
      left: 5rem;
      font-size: 5rem;
      color: var(--text-color);
      transition: all .2s; }
      .popup__content--close:hover {
        color: var(--white-color); }

.form {
  margin-left: 2rem; }
  .form__group {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.6rem;
    font-family: var(--body-font);
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .2s; }
  .form__input:focus {
    outline: none;
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #1fac1f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ac1f1f; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .2s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden; }

.popup:target {
  opacity: 1;
  visibility: visible; }

.slider {
  position: relative;
  max-width: 57rem; }
  .slider-next, .slider-prev {
    position: absolute;
    font-size: 3rem;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--yellow-color);
    transition: all .2s;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    z-index: 10;
    align-items: center; }
    .slider-next:hover, .slider-prev:hover {
      transform: translateY(-20px);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      color: var(--white-color); }
  .slider-next {
    right: -2.5rem; }
  .slider-prev {
    left: -2.5rem; }
  .slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    max-width: 100%; }
  .slider-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%; }
  .slider-item {
    display: flex;
    flex: 1 0 100%;
    user-select: none;
    width: 100%; }
