.footer {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1023.98px) {
        padding: 5rem;
    }
    @media screen and (max-width: 800px) {
                
        padding: 5rem 0;
    }
    &__up {
        display: flex;
        margin-bottom: 5rem;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: -5rem;
            right: 0;
            height: 1px;
            width: 100%;
            background-color: var(--third-color);
        }
        @media screen and (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
         }
    }
    &__down{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media screen and (max-width: 767.98px) {
            align-items: center;
            margin-bottom: 5rem;
        }
        
        &--list {
            display: flex;
            list-style: none;
            gap: 2rem;
        }

        &--link {
            color: var(--third-color);
            transition: all .2s;
            font-size: 1.2rem;
            &:hover {
                color: var(--white-color);
            }
        }
    }

    &__right {
        display: flex;
        margin-left: auto;
        gap: 10rem;
    @media screen and (max-width: 1023.98px) {
        gap: 5rem;
    }
    @media screen and (max-width: 767.98px) {
        margin-left: 0;
    }
    
    
        &--list{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            &-list{
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 2rem;
            }
            &-link{
                color: var(--third-color);
                transition: all .2s;
                font-size: 1.2rem;
                &:hover {
                    color: var(--white-color);
                }
            }
        }
    }
}