@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;

}

.container {
    padding: 3.2rem 13.5rem;
    
        
    @media screen and (max-width: 1279.98px) {
        padding: 3.2rem 5rem;
    }
    @1
    
    

    &-1 {
        background-color: var(--body-color);
    }

    &-2 {
        background-color: var(--white-color);
    }

    &-3 {
        background-color: var(--third-color);
    }

    &-4 {
        background-color: var(--yellow-color);
    }

    &-5 {
        background-color: var(--primary-color);
    }
}