.btn {

    &__blue {
        background-color: var(--bold-blue-color);
        transition: all .2s;
        padding: 1rem 3rem;
        font-size: 1.6rem;
        border-radius: 5px;
        color: var(--white-color);
        &:hover {
            background-color: var(--blue-color);
        }
        &:focus {
            outline: none;
            animation: pulsate 1s infinite;
        }
    }

    &__yellow {
        background-color: var(--yellow-color);
        font-size: 1.6rem;
        border-radius: 5px;
        transition: all .2s;
        color: var(--white-color);
        padding: 1rem 3rem;
        transition: all .2s;
        box-shadow: .5rem .8rem rgba(0, 0, 0, 0.8);
        &:hover{
            transform: translateY(-3px);
            box-shadow: none;
            background-color: #fda643;
        }
    }
}
.button{
    &__blue{
        font-size: 1.6rem;
        background-color: var(--blue-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 3rem;
        color: var(--white-color);
        border-radius: 5px;
        gap: 1rem;
    }
    &__white{
        background-color: var(--white-color);
        font-size: 1.6rem;
        border-radius: 5px;
        transition: all .2s;
        color: var(--yellow-color);
        padding: 1rem 3rem;
        transition: all .2s;
        &:hover{
            background-color: var(--yellow-color);
            color:  var(--white-color) ;
        }
    }
}


@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
   
    }
}