.category{
    display: flex;
    &__left{
        &--block{
            width: 47rem;
            height: 38rem;
            background-color: var(--yellow-color) ;
            border-radius: 10px;
            position: relative;
        }
        &--chef{
            position: absolute;
            bottom: 0;
        }
    }
}