.feature{
    margin-bottom: 10rem;
    background-image: url(../img/food.png);
    min-height: 51rem;
    border-radius: 40px;
    display: flex;
    padding: 11rem 27rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}