.footer{
    display: flex;
    flex-direction: column;
    &__up{
        display: flex;
    }
    &__left{
        display: flex;
        fl
    }
    &__right{
        display: flex;
        margin-left: auto;
    }
}