.footer {
    display: flex;
    flex-direction: column;

    &__up {
        display: flex;
        margin-bottom: 5rem;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            
        }
    }
    &__down{
        margin-top: 5rem;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &--list {
            display: flex;
            list-style: none;
            gap: 2rem;
        }

        &--link {
            color: var(--third-color);
            transition: all .2s;
            font-size: 1.2rem;
            &:hover {
                color: var(--white-color);
            }
        }
    }

    &__right {
        display: flex;
        margin-left: auto;
        gap: 10rem;
        &--list{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            &-list{
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 2rem;
            }
            &-link{
                color: var(--third-color);
                transition: all .2s;
                font-size: 1.2rem;
                &:hover {
                    color: var(--white-color);
                }
            }
        }
    }
}