.header {
    &__menu {
        display: flex;
        margin-bottom: 10rem;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;

        &--list {
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 38rem;
        }

        &--item {
            font-size: 1.6rem;
            color: var(--primary-color);
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: var(--yellow-color);
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        margin-top: 6rem;
        &--text {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 35rem;
            width: 55rem;

            &-1 {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                margin-bottom: 5rem;
            }

            &-2 {
                margin-bottom: 5rem;
            }

            &-img {
                position: absolute;
                bottom:-6rem ;
                right: -6rem;
            }
        }

        &--card {
            &--item {
                background-color: var(--white-color);
                width: 42rem;
                height: 55rem;
                border-radius: 6px;
            }

            &-img {
                position: relative;
            }

            &--icon--1 {
                position: absolute;
                color: var(--white-color);
                z-index: 10;
                top: 3rem;
                left: 3rem;
                font-size: 2.5rem;
            }

            &--icon--2 {
                position: absolute;
                color: var(--white-color);
                z-index: 10;
                top: 3rem;
                right: 3rem;
                font-size: 2rem;
            }
            &--text{
                display: flex;
                flex-direction: column;
                padding: 5rem 3rem;
                justify-content: center;
                align-items: center;
            }
            &--title{
                margin-bottom: 1rem;
            }
            &--price{
                display: flex;
                gap: 1rem;
                margin-bottom: 3rem;
            }
            &--info{
                display: flex;
                flex-direction: column;
                margin-bottom: 5rem;
            }
        }
    }
    &__hr{
        pos
        height: 24rem;
    }
}