.header{
    &__menu{
        display: flex;
        margin-bottom: 10rem;
        justify-content: space-between;
        height: ;
        &--list{
            display: flex;
          
        }
    }
}