.menu{
    display: flex;
    height: 73rem;
    flex-direction: column;
    &__title{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &--main{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
        &--sub{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        &--menu{
            margin-top: 7rem;
            display: flex;
            flex-direction: column;
            margin-right: 5rem;
            &--list{
                list-style: none;
                display: flex;
                flex-direction: column;
            }
        }
    }
}