.menu{
    display: flex;
    height: 73rem;
    flex-direction: column;
    &__title{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        mar
        &--main{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
        &--sub{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
}