.newsletter{
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 10rem;
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        &--field{
            width: 38.5rem;
            height: 7rem;
            position: relative;
        }
        &--input{
            width: 100%;
            border-radius: 10px;
            height: 7rem;
            border: solid 2px var();
            padding: 2rem 0 0 1.6rem;
            font-size: 0;

        }
    }
}