.review{
    display: flex;
    justify-content: space-between;
    &__comment{
        padding-top: 15rem;
        padding-bottom: 15rem;
        display: flex;
        flex-direction: column;
    }
    &__client{
        padding-top: 15rem;
        padding-bottom: 15rem;
        margin-left: 10rem;
        display: flex;
        flex-direction: column;
    }
}