.review{
    display: flex;
    justify-content: space-between;
    &__comment{
        padding-right: 13.5rem;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    &__client{
        padding-top: 15rem;
        padding-bottom: 15rem;
        margin-left: 20rem;
        display: flex;
    }
}