.heading-1{
    font-family: var(--body-font);
    font-size: 6.6rem;
    color: var(--primary-color);
    font-weight: 700;
}
.heading-2{
    font-family: var(--body-font);
    font-size: 2.8rem;
    color: var(--primary-color);
    font-weight: 600;
}
.heading-3{
    font-family: var(--body-font);
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
}