:root{
    --body-color: #FFDFA9;
    --primary-color: #1E1102;
    --secondary-color: #58524A;
    --third
    --text-color: #c4c4c4;
    --blue-color: #196dc7;
    --bold-blue-color: #00438B;
    --yellow-color: #FF8D07;
    --white-color: #fff;
    --body-font: 'Inter', sans-serif;
}