:root{
    --body-color: #FFDFA9;
    --primary-color: #1E1102;
    --secondary-color: #58524A;
    -webkit-text-fill-color: ;
    --blue-color: #00438B;
    --yellow-color: #FF8D07;
    --white-color: #fff;
    --body-font: 'Inter', sans-serif;
}